<div class="modalContainer">
  <h2 mat-dialog-title class="">Password Check</h2>
  <mat-dialog-content class="mat-typography">
    <p>Please enter a password to access VaccChat:</p>
    <div>
      <span *ngIf="displayError" class="mat-typography error"
        >Incorrect - try again.</span
      >
    </div>
    <br />
    <mat-form-field>
      <mat-label>Password</mat-label>
      <input matInput [(ngModel)]="data.passwordGuess" type="password" />
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <div class="modalButtonDiv">
      <button (click)="checkPassword()" class="agree-button" cdkFocusInitial>
        Submit
      </button>
    </div>
  </mat-dialog-actions>
</div>
