<div class="titleDiv">
  <span class="mat-headline-1" routerLink="/home"
    ><b><span class="title">VaccChat</span></b></span
  >
  <span class="toolbarSpacer"></span>
  <span class="toolBarButtons">
    <!--  <button mat-flat-button routerLink="privacy-policy">Privacy Policy</button> -->
  </span>
</div>
<!-- </mat-toolbar> -->
<!-- [ngStyle]="gradientStyle" -->
<body id="myBody">
  <div class="root-container">
    <router-outlet></router-outlet>
  </div>
</body>

<!-- <footer>
  <div class="custom-footer">
    <div class="footer-content">
      <ul class="no-bullets">
        <li>
          <a href="https://www.lancaster.ac.uk/future-places/">About Us</a>
        </li>

        <li><a href="privacy-policy/">Privacy Policy</a></li>

        <li>Contact Us: EMAIL for future places center</li>
      </ul>
      <br />
      <br />
      <div class="idLine">
        <b> VaccChat </b> -
        <i>Developed by Future Places Center at Lancaster University</i>
      </div>
    </div>
  </div>
</footer> -->
<!--  <app-footer></app-footer>  -->
