<div class="textContainer">
  <h1 class="mat-headline-1">Privacy Policy</h1>

  <h2 class="subtitle-2">What information do we collect from you?</h2>
  <p>
    We do not collect any personal information, none of your data is stored by
    this website.
  </p>

  <h2 class="mat-headline-2">Cookies and Google Analytics</h2>

  We may obtain information about your internet usage by using a cookie. Cookies
  help us to improve our Website and to deliver a better and more personalised
  service.
  <br />
  <br />
  These cookies are used to collect information about how visitors use our site.
  We use the information to compile reports and to help us improve the site.
  <br />
  <br />
  The cookies collect information in an anonymous form. How Google uses
  information: www.google.com/policies/privacy/partners/, or any other URL that
  Google may provide from time to time.”

  <h2 class="mat-headline-2">For any further question.</h2>
  For any more questions you can contact us at: LANCASTER EMAIL ADDRESS
</div>
